// colors
$dark-color: #141414;
$dark-grey-color: #232323;
$grey-color: #808080;
$light-color: #fff;
$burgundy-color: #800220;
$yellow-color: #ffff00;

// text
$text-small: 14px;
$text-medium: 20px;
$text-large: 28px;
$text-super-large: 86px;
